.container-home {
  background-image: asset-url("red_light_landing_page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title {
  color: #CCCCCC;
  text-align: center;
  font-weight: 400;
  margin: 0;
  h1 {
    font-size: 4rem;
    letter-spacing: -5px;
    padding-top: 30px;
    margin-bottom: -1rem;
  }
  h3 {
    font-size: 1.7rem;
    letter-spacing: -1px;
    font-style: italic;
  }
  .link {
    text-decoration: none;
    color: #CCCCCC;
  }
}

footer {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -1px;
  a {
    text-decoration: none;
    color: $light-gray;
    &:hover {
      color: $light-gray;
    }
  }
}
