<div class="container-home">
  <div class="container">
    <div class="menu">

    </div>
    <div class="title">
      <h1>Rolf Sommer</h1>
      <h3> <%= link_to "Schauspieler", schauspieler_path, class: "link" %>
      | Regisseur
      | Texter</h3>
    </div>

    <footer class="fixed-bottom">
      <a href="mailto:info@rolfsommer.net">info@rolfsommer.net</a>
    </footer>

  </div>
</div>
