<div class="container-home">
  <div class="container">
    <div class="menu">
      
    </div>

    <h1 class="title">Rolf Sommer</h1>
    <h3 class="title">Schauspieler | Regisseur | Texter</h3>
    
    <footer class="fixed-bottom">
      <a href="mailto:info@rolfsommer.net">info@rolfsommer.net</a>
    </footer>

  </div>
</div>
